body {
  box-sizing: border-box;
  background:#1F2235;
}
* {
  padding: 0; /*****внутрішній відступ*****/
  margin: 0; /*****зовнішній відступ*****/  
  color: #FFFFFF;
  text-decoration: none;
}
.header {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 20px 0px;
  justify-content: center; 
  align-items: center;
  margin-top: 22px;
} 
.download-link:hover{
  background:#24263B
}
.menu-item{
  display: inline;
  margin-left: 3px ;
  padding: 3px;
}
.nav{
  margin-left: 335px;
}
.colorhome{
  color: #FE461C;
}
.download-link {
  background-color: #FE461C;
  padding: 10px 70px;
  margin-left: 15px;
  border-radius: 5px 5px 5px 5px;
  background:#FE461C;
  margin-right: 300px;
}
.social-icon{
  background-color:#24263B;
  display: flex;
  align-items:center;
  width: 50px;
  height: 50px;
  text-align: center;
  align-self: center;
  padding: 14px;
  margin-bottom: 15px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
}
.social{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.social-icon:hover{
  background:#1F2235;
}
element.style{
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
}
.banner-container{
  display: flex;
  max-width: 1440px;
  max-height: 900px;
  margin: 0 auto;
  margin-top: 100px;
  justify-content: center;
  padding-bottom: 150px;
}
.banner{
  background:#1F2235;
  text-align: center;
}
.conveniently{
  font-size: 16px;
}
.portfolio{
display: flex;
background:#1F2235;
justify-content: center;
flex-direction: column;
margin-left: 150px;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 32px;
}
h3{
  font-size: 16px;
}
.portfolio-button{
  display: flex;
  margin-top: 36px;
}
.hire-me {
  padding: 17px 48px;
  border-radius: 5px 5px 5px 5px;
  background:#FE461C;
  font-size: 16px;
}
.hire-me:hover{
  background-color:#1F2235;
}
.download-cv{
  border:2px solid #FFFFFF;
  border-radius: 5px 5px 5px 5px;
  padding: 15px 28px;
  margin-left: 15px;
  background:#24263B;
  font-size: 16px;
}
.download-cv:hover{
  background-color:#1F2235;
}
.rondo{
  position: relative; 
}
.small-rondo{
  position: absolute;
  margin-top: 60px;
  margin-left: -550px;
  z-index: 1;  
}

.section-2{
   background-color:rgb(36, 38, 59);
   display:flex;
   justify-content: center;
   align-items:center;
}
.about-me-pictures{
  margin-top: 100px ;
  margin-right: 50px;
}

.about-me-button{
  background-color:#24263B;
  padding: 14px 25px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 16px;
}
.about-me-button:hover{
  background:#1F2235;
}
.about-me-text{
  margin-top: 50px;
  max-width: 550px;
  
}

.about-me-text-2{
  margin-top: 20px;
}
.btn-section-2{
  margin-top: 50px;
}
.download-link-2{
  margin-top: 50px;
  padding: 14px 25px;
  border-radius: 5px 5px 5px 5px;
  background:#FE461C;
}
.download-link-2:hover{
  background:#24263B
}

th, td{
  padding-top: 20px;
}
table{
  text-align:left;
  margin-top: 40px;
}
.one{
  padding-left: 20px;
}

.section-3{
  display: flex;
  align-items:center;
  justify-content: center;
}
.header-section-3{
  margin-top: 50px;
}
.portfolio-btn-2{
  display: flex;
  justify-content: center;
  align-items:center;
}
.portfolio-button-2{
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
  background-color:#1F2235;
  padding: 14px 25px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 16px; 
}
.portfolio-button-2:hover{
  background:#24263B;
}
.portfolio-text{
  justify-content:center;
  align-items:center;
  max-width: 1400px;
  margin: 0 auto;
  max-height: 900px;
  margin-top: 100px;
  padding-bottom: 150px;
}

.Some{
  text-align: center;
  margin-top: 50px;
}

.nav-list-2{
  text-align: center;
  margin-top: 40px;
}
.menu-item-1{
  display: inline;
  margin-left: 3px ;
  padding: 15px;
}
.portfolio-pictures{
    margin-left: 50px;
    display: flex;
    align-items:center;
    margin-top: 50px;
}
.section-4{
  background-color:rgb(36, 38, 59);
}
 .section-4-details{
  display: flex;
  margin-top: 50px;
  text-align: center;
  justify-content: center;
 }
 
 .button-section-4{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  background-color:#1F2235;
  padding: 14px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 16px;
}
.button-section-4:hover{
  background:#24263B;
}
.our-work-services{
  margin-top: 20px;
  text-align: center;
}
.pictures-section-4{
  max-width: 1920px;
  display: flex;
  padding: 50px 20px;
  justify-content: center; 
  align-items: center;
}
.section-1-in-section-4{
  max-width: 200px;
  background-color:#1F2235;
  padding: 20px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}
.section-4_text{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.comp{
  font-size: 20px;
  margin-top: 30px;
}
.comp1{
  font-size: 16px;
  margin-top: 35px;
}

.arrow-dark{
  background-color:#24263B;
  box-sizing:border-box;
  border-radius: 50%;
  text-align: center;
  padding-top: 13px;
  width: 40px;
  height: 40px;
  box-shadow:0px 0px 2px 2px black;
  margin-top: 20px;
}
.arrow-dark:hover{
  background-color:#1F2235;
}
.arrow-orange{
  background-color:#FE461C;
  box-sizing:border-box;
  border-radius: 50%;
  text-align: center;
  padding-top: 13px;
  width: 40px;
  height: 40px;
  box-shadow:0px 0px 2px 2px black;
  margin-top: 20px;
}
.arrow-orange:hover{
  background-color:#1F2235;
}
.section-2-in-section-4{
  max-width: 200px;
  margin-left: 30px;
  background-color:#1F2235;
  padding: 20px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}

.section-3-in-section-4{
  max-width: 200px;
  margin-left: 30px;
  background-color:#1F2235;
  padding: 20px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}

.section-4-in-section-4{
  max-width: 200px;
  margin-left: 30px;
  background-color:#1F2235;
  padding: 20px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}


.section-5{
  display: flex;
  margin-top: 50px;
  margin-left: 50px;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.section-5-details{
  display: flex;
}

.button-section-5{
  margin-top: 50px;
  background-color:#1F2235;
  padding: 14px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 16px;
}

.button-section-5:hover{
  background:#24263B;
}

.skill-experience{
  margin-top: 20px;
  display: flex;
  font-size: 32px;
}

.orange-btn-section-5{
  margin-top: 50px;
  padding: 12px 20px;
  border-radius: 5px 5px 5px 5px;
  box-sizing:border-box;
  background:#FE461C;
  font-size: 16px;
}
.orange-btn-section-5:hover{
  background:#24263B
}
.btn-section-5{
  margin-left: 20px;
  margin-top: 50px;
  background-color:#1F2235;
  padding: 12px 18px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 16px;
}
.btn-section-5:hover{
  background:#24263B;
}

.buttons-3-section-5{
  display: flex;
  margin-top: 30px;
  padding-top: 30px;
  
}

.skill-experience{
  padding-top: 10px;
}

.skills{
  margin-top: 50px;
  width: 500px;
}

p{
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 500px;
  margin: 10px 0px;
}

.skill-bar{
  height: 12px;
  background:#FFFFFF;
  border-radius: 50px;
}

.skill-percentage{
  height: 12px;
  background:#FE461C;
  position: relative;
  border-radius:50px;
}

.skill-percentage::before{
  content:attr(a);
  position: absolute;
  padding: 4px 6px;
  font-size: 18px;
  border-radius:50px;
  top: -30px;
  right: 0;
  transform: translateX(50%);
}
.about-me-pictures-2{
  margin-left: 50px;
  display: flex;
}

.section-6{
  display: flex;
  flex-direction: column;
  background-color:rgb(36, 38, 59);

  }
 .section-6-details{
  display: flex;
  flex-direction: column;
  align-items:center;
  margin-top: 100px;
  text-align: center;
  justify-content: center;
 }
 
 .button-section-6{
  width: 100px;
  justify-content: center;
  margin-top: 50px;
  background-color:#1F2235;
  padding: 14px 10px;
  box-sizing:border-box;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 0px 0px 2px 2px black;
  font-size: 16px;
}
.button-section-6:hover{
  background:#24263B;
}

.our-work-services{
  margin-top: 40px;
  text-align: center;
}
.pictures-section-6{
  max-width: 1920px;
  display: flex;
  padding: 50px 20px;
  justify-content: center; 
  align-items: center;
}
.section-1-in-section-6{
  margin-left: 30px;
  max-width: 300px;
  background-color:#1F2235;
  padding: 20px 40px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}
.section-1-in-section-6:before{
  position:absolute;
  content:'';
  width: 0;
  height: 0;
  border-top:20px solid #24263B;
  border-right: 20px transparent solid;
  border-left: 20px transparent solid;
  bottom: -20px;
  right: 95px;
}
.section-6_text{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}
.comp{
  font-size: 20px;
  margin-top: 10px;
}
.img6{
  padding-left: 55px;
}
.comp1{
  font-size: 16px;
  margin-top: 30px;
}
hr{
  width: 220px;
  margin-top: 15px;
}
.comp2{
  font-size: 16px;
  margin-top: 15px;
}
/*
.section-2-in-section-6{
  max-width: 300px;
  margin-left: 30px;
  background-color:#1F2235;
  padding: 20px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}

.section-3-in-section-6{
  max-width: 300px;
  margin-left: 30px;
  background-color:#1F2235;
  padding: 20px;
  box-sizing:border-box;
  border-radius:5px;
  justify-content: center;
}*/
.dark-arrow-6{
 margin-top: 150px;
 margin-left: -40px;
 position: absolute;
}
.circle-btn{
  background-color:#FFFFFF;
  box-sizing:border-box;
  border-radius: 50% ;
  border:3px solid #FE461C;
  padding-top: 13px;
  width: 50px;
  height: 50px;
  margin-top: 45px;
  margin-left: 30px;
}
.circle-btn:hover{
  background-color:#1F2235;
}
.section-7{
  display: flex;
  align-items:center;
  flex-direction: column;
  justify-content: center;
}
.section-7-details{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  padding: 30px;
}
.sec-7-3-in-1-block{
  display: flex;
  justify-content: center;
  align-items:center;
  margin-left: 20px;
}

.block-1-sec-7{
  width: 424px;
  padding: 20px;
}

.square{
  margin-top: 30px;
  box-sizing:border-box;
  width: 424px;
  height: 300px;
  background-color:#d9d9d9;
  border-radius:5px;
  display: flex;
}
.pic-line{
  margin-top: 10px;
  display: inline;
  justify-content: column;
  display: flex;
}

.pic-line-2{
  margin-left: 30px;
}
.text-7{
  font-size:16px;
  padding: 5px;
}
  
.comp-7{
  font-size: 24px;
  margin-top:15px;
}
.comp1-7{
  font-size: 16px;
  margin-top: 15px;
}
.section-8{
  background-color:#24263B;
  width: 1440px;
  padding: 100px 50px;
}
.section-8-details{
  display: flex;
  margin: 0 auto;
  height: 300px;
  width: 1000px;
  align-items:center;
  background-color:#1F2235;
  justify-content: space-around;
  box-sizing:border-box;
  border-radius:8px;
}
.left-side{
  display: flex;
  flex-direction: column;
  padding-right: 20px;
}
.sec-8-1-text{
  font-size: 20px;
}
.sec-8-h2{
  font-size: 40px;
}
.sec-8-smalltext{
  font-size: 17px;
}
.right-side{
  position:relative ;
}
.sec-8-input{
  position: relative ;
  width: 400px;
  height: 40px;
  align-items:center;
  justify-content: center;
  display: flex;
  border-radius:80px;
  background:rgb(225,225,225);
  color:black;
}
.sec-8-btn{
  position: absolute;
  width: 190px;
  height: 42px;
  right: 0;
  margin-top: -42px;
  border-radius:80px;
  background:rgb(254,70,28);
  display: flex;
  justify-content: center;
  align-items:center;
}
.sec-8-btn:hover{
  background-color:#d9d9d9;
}

.section-9{
  background-color: #1F2235;
}
.section-9-details{
  display: flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  padding: 30px;
}
.sec-9-2_sides{
  display: flex;
  
  
}
.phone-namber{
  box-sizing:border-box;
  border-radius:8px;
  background-color:rgba(36, 38, 59, 1);
  border:3px solid rgba(255, 255, 255, 0.2);
  align-items:center;
  padding-left: 35px;
  display: flex;
  margin-top: 30px;
  width: 368px;
  height: 117px;
}
.phone-namber:hover{
  border:3px solid #1F2235;
}
.address{
  font-size: 26px;
}
.address-btn{
  background-color:#24263B;
  box-sizing:border-box;
  border-radius: 50%;
  text-align: center;
  padding-top: 23px;
  width: 70px;
  height: 70px;
  box-shadow:0px 0px 2px 2px black;
  }
.address-btn:hover{
  background-color:#1F2235;
  }
.ad{
  margin-left: 20px;
}
.sec-9-right_side{
  padding-left: 80px;
  padding-top: 30px;
}

input{
  
  margin-top: 30px;
  color:rgba(112, 113, 123, 1);
  background-color:rgba(36, 38, 59, 1);
  border-radius:6px;
  width: 335px;
  height: 56px;
  padding: 10px;
  box-sizing:border-box;
  border:3px solid rgba(255 255 255 0.2)
}

.form2{
  width: 700px;
  height: 210px;
  display: flex;
}
.email{
  margin-left: 25px;
}
.maps{
  width: 1169;
  height: 550;
  margin-top: 50px;
  overflow: hidden;
}
.maps:hover img{
  transform: scale(1 1);
}
img {
  transition: transform 0.26s;
}