body {
  box-sizing: border-box;
  width: 1920px;
}
* {
  padding: 0; /*****внутрішній відступ*****/
  margin: 0; /*****зовнішній відступ*****/  
  color: #FFFFFF;
  text-decoration: none;
}
.header{
  background: #1F2235;
  display: flex;
  padding: 20px 0px;
  justify-content: center;
} 

.header ul li{
  display: inline;
  margin-left: 3px ;
  padding: 3px;
  border-top:0;
}
.colorhome{
  color: #FE461C;
}
.download-link {
  background-color: #FE461C;
  padding: 10px 70px;
  margin-left: 15px;
  border-radius: 5px 5px 5px 5px;
  background:#FE461C;
}
.banner{
  background:#1F2235;
  font-family:;
}
.conveniently{
  font-size: 16px;
  font-family:;

}

